# Xcode
## User settings
xcuserdata/
*.xcuserstate

## Build artifacts
build/
DerivedData/
*.moved-aside

## macOS
.DS_Store

## Swift Package Manager
.build/
.swiftpm/
officast/GoogleService-Info.plist
